.navigation-module {
  position:relative;
}
.navigation-module .sw-nav-ul,
.navigation-module .sw-nav-ul ul,
.navigation-module .side-nav,
.navigation-module .side-nav ul{
  padding:0;
  margin:0;
  list-style:none;
} 
.navigation-module .sw-nav-ul a,
.navigation-module .side-nav a{
  text-decoration:none;
}
.navigation-module .sw-nav-ul,
.navigation-module .side-nav{
  display: flex;
  flex-wrap:wrap;
}
.navigation-module .flexed {
  display:flex;
}
.navigation-module .main-nav{
  flex-grow: 1;
  display:flex;
}
.navigation-module .side-nav .sw-nav-submenu{
  display:none;
}
.navigation-module .main-nav .sw-nav-submenu{
  position:absolute;
  top:100%;
}
.navigation-module .main-nav .sw-nav-li .sw-nav-submenu li > a{
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.navigation-module .main-nav .sw-nav-li .sw-nav-submenu{
  z-index:-1;
  opacity:0;
  visibility:hidden;
  display: flex;
  flex-wrap: wrap;
  min-width: 140px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.navigation-module .main-nav .sw-nav-li:hover .sw-nav-submenu.sw-nav-submenu-depth-2{
  z-index:10;
  opacity:1;
  visibility:visible;
}
.navigation-module .main-nav .sw-nav-li .sw-nav-submenu .sw-nav-submenu-li,
.navigation-module .main-nav .sw-nav-li .sw-nav-submenu .sw-nav-li{
  display:inline-block;
  width:100%;
}
.navigation-module .main-nav .sw-nav-li .sw-nav-submenu .sw-nav-submenu-li a,
.navigation-module .main-nav .sw-nav-li .sw-nav-submenu .sw-nav-link{
  display:flex;
  width:100%;
  box-sizing:border-box;
  position:relative;
}
.navigation-module .main-nav .link-depth-1.link-parent,
.navigation-module .main-nav .button-depth-1.sw-nav-button-child{
  padding-right:0 !important;
}
.navigation-module .main-nav .link-depth-2 > .child-icon,
.navigation-module .main-nav .button-depth-2 > .child-icon{
  transform: rotate(270deg);
}
.navigation-module .main-nav .sw-nav-submenu-depth-3.sw-nav-submenu{
  z-index:-1;
  opacity:0;
  visibility:hidden;
  position: absolute;
  left: 100%;
  top: 0;
}
.navigation-module .main-nav .child-icon{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-module .main-nav .child-icon svg{
  width:16px;
  height:16px;
}
.navigation-module .main-nav .li-depth-2.li-parent:hover .sw-nav-submenu.sw-nav-submenu-depth-3{
  z-index:10;
  opacity:1;
  visibility:visible;
}
.navigation-module .button-depth-1.sw-nav-button,
.navigation-module .link-depth-1.sw-nav-link{
  display:flex;
  align-items:center;
  box-sizing: border-box;
  cursor:pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.navigation-module .sw-nav-li {
  display: flex;
  align-items: center;
  position:relative;
}
.navigation-module .side-nav .hs-menu-depth-1 > a{
  display: inline-block;
}
.navigation-module .side-nav .hs-menu-children-wrapper{
  display:none;
}

@media (max-width: 992px) { 
  .navigation-module .main-nav {
    position: absolute;
    right: 0;
    left: 0;
    height: calc(100vh - 100%);
    display: flex;
    align-items: flex-start;
    width: 100%;
    top: 100%;
    padding-bottom: 0 !important;
    background:RGBA(0,0,0,.5);
    z-index:10;
  }
  .navigation-module .main-nav .sw-nav-li {
    width: 100%;
  }
  .header-module-1.navigation-module .side-nav{
    width: 100%;
    justify-content: flex-end;
  }
  .header-module-1.navigation-module .main-nav .button-depth-1.sw-nav-button,
  .header-module-1.navigation-module .main-nav .link-depth-1.sw-nav-link{
    width:100%;
    justify-content: space-between;
  }
  .navigation-module .main-nav .sw-nav-ul{
    width:100%;
    max-width:400px;
    right: 0;
    position: absolute;
    height: 100%;
    display:block;
    background: #000;
  }
  .navigation-module .main-nav .sw-nav-li .sw-nav-submenu.sw-nav-submenu-depth-2,
  .navigation-module .main-nav .sw-nav-submenu-depth-3.sw-nav-submenu{
    z-index: 10;
    opacity: 1;
    visibility: visible;
    position:static;
    width:100%;
}
  .navigation-module .sw-nav-li {
    flex-wrap: wrap;
}
  .navigation-module .main-nav .sw-nav-li .sw-nav-submenu.sw-nav-submenu-depth-2{
    margin-right:5px;
    margin-top:0;
  }
  .header-module-1.navigation-module .main-nav .button-depth-1.sw-nav-button,
  .header-module-1.navigation-module .main-nav .link-depth-1.sw-nav-link{
    border-radius:0 !important;
  }
  .navigation-module .main-nav .button-depth-2>.child-icon,
  .navigation-module .main-nav .link-depth-2>.child-icon{
      transform: rotate(0deg);
  }

}