{% set customFontFamily = 'Custom-font' %}
html{
  height:100%;
  font-size:10px;
}

{%- set font = {
	  'bodyFontFamily':			theme.typography.body_font.body_google.font if theme.typography.body_font.font_type_body == "google" else customFontFamily,
    'bodyFontSize':			theme.typography.body_font.body_google.size~theme.typography.body_font.body_google.size_unit if theme.typography.body_font.font_type_body == "google" else theme.typography.body_font.body_custom.size~theme.typography.body_font.body_custom.size_unit,
    'bodyFontWeight':			theme.typography.body_font.weight,
    'bodyFontLineHeight':		theme.typography.body_font.line_height,
    'bodyFontColor':			theme.typography.body_font.body_google.color if theme.typography.body_font.font_type_body == "google" else theme.typography.body_font.body_custom.color,    

    'h1FontFamily':			theme.typography.h1_font.h1_google.font if theme.typography.h1_font.font_type_h1 == "google" else customFontFamily,
    'h1FontSize':			theme.typography.h1_font.h1_google.size~theme.typography.h1_font.h1_google.size_unit if theme.typography.h1_font.font_type_h1 == "google" else theme.typography.h1_font.h1_custom.size~theme.typography.h1_font.h1_custom.size_unit,
    'h1FontWeight':			theme.typography.h1_font.weight,
    'h1FontLineHeight':		theme.typography.h1_font.line_height,
    'h1FontColor':			theme.typography.h1_font.h1_google.color if theme.typography.h1_font.font_type_h1 == "google" else theme.typography.h1_font.h1_custom.color,   

    'h2FontFamily':			theme.typography.h2_font.h2_google.font if theme.typography.h2_font.font_type_h2 == "google" else customFontFamily,
    'h2FontSize':			theme.typography.h2_font.h2_google.size~theme.typography.h2_font.h2_google.size_unit if theme.typography.h2_font.font_type_h2 == "google" else theme.typography.h2_font.h2_custom.size~theme.typography.h2_font.h2_custom.size_unit,
    'h2FontWeight':			theme.typography.h2_font.weight,
    'h2FontLineHeight':		theme.typography.h2_font.line_height,
    'h2FontColor':			theme.typography.h2_font.h2_google.color if theme.typography.h2_font.font_type_h2 == "google" else theme.typography.h2_font.h2_custom.color, 

    'h3FontFamily':			theme.typography.h3_font.h3_google.font if theme.typography.h3_font.font_type_h3 == "google" else customFontFamily,
    'h3FontSize':			theme.typography.h3_font.h2_google.size~theme.typography.h3_font.h3_google.size_unit if theme.typography.h3_font.font_type_h3 == "google" else theme.typography.h3_font.h3_custom.size~theme.typography.h3_font.h3_custom.size_unit,
    'h3FontWeight':			theme.typography.h3_font.weight,
    'h3FontLineHeight':		theme.typography.h3_font.line_height,
    'h3FontColor':			theme.typography.h3_font.h3_google.color if theme.typography.h3_font.font_type_h3 == "google" else theme.typography.h3_font.h3_custom.color,
    
    'h4FontFamily':			theme.typography.h4_font.h4_google.font if theme.typography.h4_font.font_type_h4 == "google" else customFontFamily,
    'h4FontSize':			theme.typography.h4_font.h4_google.size~theme.typography.h4_font.h4_google.size_unit if theme.typography.h4_font.font_type_h4 == "google" else theme.typography.h4_font.h4_custom.size~theme.typography.h4_font.h4_custom.size_unit,
    'h4FontWeight':			theme.typography.h4_font.weight,
    'h4FontLineHeight':		theme.typography.h4_font.line_height,
    'h4FontColor':			theme.typography.h4_font.h4_google.color if theme.typography.h4_font.font_type_h4 == "google" else theme.typography.h4_font.h4_custom.color, 
    
    'h5FontFamily':			theme.typography.h5_font.h5_google.font if theme.typography.h5_font.font_type_h5 == "google" else customFontFamily,
    'h5FontSize':			theme.typography.h5_font.h5_google.size~theme.typography.h5_font.h5_google.size_unit if theme.typography.h5_font.font_type_h5 == "google" else theme.typography.h5_font.h5_custom.size~theme.typography.h5_font.h5_custom.size_unit,
    'h5FontWeight':			theme.typography.h5_font.weight,
    'h5FontLineHeight':		theme.typography.h5_font.line_height,
    'h5FontColor':			theme.typography.h5_font.h5_google.color if theme.typography.h5_font.font_type_h5 == "google" else theme.typography.h5_font.h5_custom.color, 
    
    'h6FontFamily':			theme.typography.h6_font.h6_google.font if theme.typography.h6_font.font_type_h6 == "google" else customFontFamily,
    'h6FontSize':			theme.typography.h6_font.h6_google.size~theme.typography.h6_font.h6_google.size_unit if theme.typography.h6_font.font_type_h6 == "google" else theme.typography.h6_font.h6_custom.size~theme.typography.h6_font.h6_custom.size_unit,
    'h6FontWeight':			theme.typography.h6_font.weight,
    'h6FontLineHeight':		theme.typography.h6_font.line_height,
    'h6FontColor':			theme.typography.h6_font.h6_google.color if theme.typography.h6_font.font_type_h6 == "google" else theme.typography.h6_font.h6_custom.color, 
    
    'pFontFamily':			theme.typography.paragraph_font.paragraph_google.font if theme.typography.paragraph_font.font_type_paragraph == "google" else customFontFamily,
    'pFontSize':			theme.typography.paragraph_font.paragraph_google.size~theme.typography.paragraph_font.paragraph_google.size_unit if theme.typography.paragraph_font.font_type_paragraph == "google" else theme.typography.paragraph_font.paragraph_custom.size~theme.typography.paragraph_font.paragraph_custom.size_unit,
    'pFontWeight':			theme.typography.paragraph_font.weight,
    'pFontLineHeight':		theme.typography.paragraph_font.line_height,
    'pFontColor':			theme.typography.paragraph_font.paragraph_google.color if theme.typography.paragraph_font.font_type_paragraph == "google" else theme.typography.paragraph_font.paragraph_custom.color, 

    'liFontFamily':			theme.typography.li_font.li_google.font if theme.typography.li_font.font_type_li == "google" else customFontFamily,
    'liFontSize':			theme.typography.li_font.li_google.size~theme.typography.li_font.li_google.size_unit if theme.typography.li_font.font_type_li == "google" else theme.typography.li_font.li_custom.size~theme.typography.li_font.li_custom.size_unit,
    'liFontWeight':			theme.typography.li_font.weight,
    'liFontLineHeight':		theme.typography.li_font.line_height,
    'liFontColor':			theme.typography.li_font.li_google.color if theme.typography.li_font.font_type_li == "google" else theme.typography.li_font.li_custom.color,

} %}

body {
  font-family: {{ font.bodyFontFamily }};
  font-size:{{ font.bodyFontSize }};
  font-weight:{{ font.bodyFontWeight }};
  line-height:{{ font.bodyFontLineHeight }};
  color:{{ font.bodyFontColor }};
}
h1 {
  font-family: {{ font.h1FontFamily }};
  font-size:{{ font.h1FontSize }};
  font-weight:{{ font.h1FontWeight }};
  line-height:{{ font.h1FontLineHeight }};
  color:{{ font.h1FontColor }};
}
h2 {
  font-family: {{ font.h2FontFamily }};
  font-size:{{ font.h2FontSize }};
  font-weight:{{ font.h2FontWeight }};
  line-height:{{ font.h2FontLineHeight }};
  color:{{ font.h2FontColor }};
}
h3 {
  font-family: {{ font.h3FontFamily }};
  font-size:{{ font.h3FontSize }};
  font-weight:{{ font.h3FontWeight }};
  line-height:{{ font.h3FontLineHeight }};
  color:{{ font.h3FontColor }};
}
h4 {
  font-family: {{ font.h4FontFamily }};
  font-size:{{ font.h4FontSize }};
  font-weight:{{ font.h4FontWeight }};
  line-height:{{ font.h4FontLineHeight }};
  color:{{ font.h4FontColor }};
}
h5 {
  font-family: {{ font.h5FontFamily }};
  font-size:{{ font.h5FontSize }};
  font-weight:{{ font.h5FontWeight }};
  line-height:{{ font.h5FontLineHeight }};
  color:{{ font.h5FontColor }};
}
h6 {
  font-family: {{ font.h6FontFamily }};
  font-size:{{ font.h6FontSize }};
  font-weight:{{ font.h6FontWeight }};
  line-height:{{ font.h6FontLineHeight }};
  color:{{ font.h6FontColor }};
}
p {
  font-family: {{ font.pFontFamily }};
  font-size:{{ font.pFontSize }};
  font-weight:{{ font.pFontWeight }};
  line-height:{{ font.pFontLineHeight }};
  color:{{ font.pFontColor }};
}
li {
  font-family: {{ font.liFontFamily }};
  font-size:{{ font.liFontSize }};
  font-weight:{{ font.liFontWeight }};
  line-height:{{ font.liFontLineHeight }};
  color:{{ font.liFontColor }};
}






/* Responsive grid */

.row-fluid {
  display:grid !important;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap:1rem;
}
@media (min-width: 768px){
  div.dnd_area-row-0-vertical-alignment > .row-fluid{
    display:grid !important;
    grid-template-columns: repeat(12, 1fr);
  }
}
/* .row-fluid:before, .row-fluid:after {
display: table;
content: '';
} */

.row-fluid:after {
  clear: both;
}

.row-fluid [class*='span'] {
  display: block;
  float: none;
  width: 100%;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.row-fluid [class*='span']:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  grid-column: span 12 / auto;
}

.row-fluid .span11 {
  grid-column: span 11 / auto;
}

.row-fluid .span10 {
  grid-column: span 10 / auto;
}

.row-fluid .span9 {
  grid-column: span 9 / auto;
}

.row-fluid .span8 {
  grid-column: span 8 / auto;
}

.row-fluid .span7 {
  grid-column: span 7 / auto;
}

.row-fluid .span6 {
  grid-column: span 6 / auto;
}

.row-fluid .span5 {
  grid-column: span 5 / auto;
}

.row-fluid .span4 {
  grid-column: span 4 / auto;
}

.row-fluid .span3 {
  grid-column: span 3 / auto;
}

.row-fluid .span2 {
  grid-column: span 2 / auto;
}

.row-fluid .span1 {
  grid-column: span 1 / auto;
}

.container-fluid:before, .container-fluid:after {
  display: table;
  content: '';
}

.container-fluid:after {
  clear: both;
}

@media (max-width: 767px) {
  .row-fluid {
    width: 100%;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1139px) {
  .row-fluid {
    width: 100%;
  }

  /*   .row-fluid:before, .row-fluid:after {
  display: table;
  content: '';
} */

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: left;
    width: 100%;
    min-height: 1px;
    margin-left: 2.762430939%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row-fluid [class*='span']:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    grid-column: span 12 / auto;
  }

  .row-fluid .span11 {
    grid-column: span 11 / auto;
  }

  .row-fluid .span10 {
    grid-column: span 10 / auto;
  }

  .row-fluid .span9 {
    grid-column: span 9 / auto;
  }

  .row-fluid .span8 {
    grid-column: span 8 / auto;
  }

  .row-fluid .span7 {
    grid-column: span 7 / auto;
  }

  .row-fluid .span6 {
    grid-column: span 6 / auto;
  }

  .row-fluid .span5 {
    grid-column: span 5 / auto;
  }

  .row-fluid .span4 {
    grid-column: span 4 / auto;
  }

  .row-fluid .span3 {
    grid-column: span 3 / auto;
  }

  .row-fluid .span2 {
    grid-column: span 2 / auto;
  }

  .row-fluid .span1 {
    grid-column: span 1 / auto;
  }
}



/* Clearfix */

/* .clearfix:before, .clearfix:after {
display: table;
content: '';
} */

.clearfix:after {
  clear: both;
}

/* Visibilty classes */

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Responsive visibilty classes */

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1139px) {
  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}